@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.ql-editor{
  font-size: 1.5rem;
}

/* Add these to your CSS file */
.min-h-screen {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-grow {
    flex-grow: 1;
  }

  