@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add these to your CSS file */
.min-h-screen {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  